.fancy-button5 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: rgb(7,114,185);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .fancy-button5:hover {
    font-size: 1.2rem;
  }
  
  .fancy-button5:active {
    transform: translateY(-1px);
  }